*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}

/* -- Commun -- */

a {
    color: #3F9FFF;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #182031;
    padding: 10px;
    position: relative;
}

.content-no-bg {
    background-color: transparent;
}

.content-no-padding {
    padding-bottom: 0px;
}

.infos {
    padding-bottom: 5px;
}

.infos h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.infos h1 a {
    color: white;
    transition: all 0.3s ease-in-out;
}

.infos h2 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    border-bottom: 3px solid #007bff;
    padding-top: 20px;
    margin-bottom: 15px;
}

.infos ul {
    margin: 5px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.infos li {
    list-style: none;
    margin: 0 15px 0px 0;
    padding: 0 15px 0px 0;
    font-size: 18px;
}

.infos p {
    font-size: 18px;
}

.list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.list li {
    font-size: 18px;
    line-height: 20px;
}

.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 15px;
    top: 15px;
}

.actions-list {
    top: 8px;
}

.actions-row {
    flex-direction: row;
    vertical-align: middle;
}

.actions a,
.casting-actions {
    background-color: #3F9FFF;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 55px;
    cursor: pointer;
}

.casting-actions {
    width: 50px;
}

form button,
.button {
    color: white;
    background-color: #3F9FFF;
    display: inline-block;
    border: none;
    text-align: center;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    padding-inline: 15px;
}

svg {
    fill: white;
}

/* -- Formulaires -- */

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-inline: 8%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

label {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 5px;
    width: 100%;
    flex-shrink: 0;
}

input,
select,
textarea {
    border: 1px solid #182031;
    background: #182031;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    padding: 0 15px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="date"] {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23ffffff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 18px top 18px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0%;
    -webkit-appearance: none;
}

select:not([multiple]) {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path fill="%23ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 18px top 18px;
}

select[multiple] {
    height: 132px;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border-color: #60B0FF;
}

form button {
    align-self: flex-end;
    margin-right: 8%;
    width: 200px;
    margin-top: 15px;
}

.select-button {
    display: flex;
    align-items: center;
    width: 100%;
}

.select-button a,
.select-button label {
    margin-left: 15px;
}

::file-selector-button {
    display: none;
}

textarea {
    min-height: 54px;
    height: 270px;
    resize: vertical;
    line-height: 25px;
    padding: 15px;
}

/* -- Header -- */

header {
    background-color: #0a0e17;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0px 20px;
    font-size: 0.85em;
}

header h1 {
    text-transform: uppercase;
}

/* -- Menu burger -- */

/* Icône */
header input[type="checkbox"] {
    position: absolute;
    display: none;
}

.hamburger+label {
    cursor: pointer;
    width: 52px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    left: 1rem;
    background: #3F9FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
}

.hamburger+label span {
    background: white;
    width: 34px;
    height: 3px;
    position: relative;
}

.hamburger+label span::before,
.hamburger+label span::after {
    position: absolute;
    background: white;
    width: inherit;
    height: inherit;
    content: "";
}

.hamburger+label span::before {
    top: -8px;
}

.hamburger+label span::after {
    top: 8px;
}

.hamburger:checked+label span {
    background: transparent;
}

.hamburger:checked+label span::after,
.hamburger:checked+label span::before {
    top: 0;
}

.hamburger:checked+label span::before {
    transform: rotate(45deg);
}

.hamburger:checked+label span::after {
    transform: rotate(-45deg);
}

/* Menu slide */
nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: min(50%, 300px);
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    will-change: transform;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6rem;
}

nav ul li {
    margin: 1rem
}

nav a {
    color: white;
    font-size: 1.25rem;
    opacity: 0;
    visibility: hidden;
}

.hamburger:checked+label~nav {
    transform: unset;
    /* Revient à l'état initial */
}

.hamburger:checked+label~nav a {
    visibility: visible;
    opacity: 1;
}

/* Accessibilité */
.hamburger:focus-visible~label,
nav a:focus-visible,
nav a:focus {
    outline: 1px solid white;
    outline-offset: 2px;
}

.hamburger:not(:focus-visible)~label,
nav a:not(:focus):focus-visible {
    outline: none;
}

.hamburger:not(:focus-visible):focus~label {
    box-shadow: 0 0 0 2px hsl(0, 0%, 100%)
}

/* -- Section -- */

.section {
    background-color: #182031;
    text-align: center;
    padding: 60px 0px;
    margin-bottom: 60px;
    width: 100%;
    font-size: 18px;
    position: relative;
}

.section h1 {
    margin-bottom: 15px;
    font-size: 32px;
}

.section a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.section a:hover,
.infos h1 a:hover {
    color: #007bff;
}

/* -- Main -- */

main {
    background-color: #0a0e17;
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
}

/* Affichage film */

.affiche {
    max-width: 100%;
    height: 200px;
    margin: auto;
    padding-bottom: 15px;
}

.affiche-large {
    height: auto;
    max-height: 400px;
}

.list-casting {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.list-casting li {
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
}

.casting {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

/* Affichage Personne */

.avatar {
    max-width: 100%;
    height: 150px;
    margin: auto;
    padding-bottom: 15px;
}

.affiche-small {
    max-height: 65px;
    padding-right: 15px;
}

.list-films {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.list-films li {
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
}

.films {
    display: flex;
    position: relative;
    height: 66px;
    vertical-align: middle;
}

.infos-films li {
    padding-right: 10px;
}

/* Affichage Genres + Rôles */

.content-min-size {
    min-height: 80px;
}

.infos-min-size {
    padding-right: 115px;
    ;
}

/* -- Footer -- */

footer {
    background-color: #3F9FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
}

#social {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

footer svg {
    font-size: 2em;
}

@media (prefers-reduced-motion: no-preference) {

    /* Menu burger */
    .hamburger+label span {
        transition: background 10ms 300ms;

    }

    .hamburger+label span::before,
    .hamburger+label span::after {
        transition: top 300ms 350ms,
            transform 300ms 50ms;
    }

    .hamburger:checked+label span::after,
    .hamburger:checked+label span::before {
        transition: top 300ms 50ms,
            transform 300ms 350ms;
    }

    .hamburger:focus-visible~label,
    nav a:focus-visible,
    nav a:focus {
        transition: outline-offset .25s ease;
    }

    nav {
        transition: transform 0.5s;
    }

    nav a {
        transition: visibility 500ms, opacity 500ms 300ms;
    }
}