* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 956px;
    margin-inline:auto;
}

#banner {
    height: 125px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

nav a:link, a:visited {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

/* Main container */

main {
    max-width: 956px;
    margin-inline: auto;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Film Box */

.film-box {
    width: 473px;
    height: 350px;
    display:flex;
    background-color: rgb(231,231,231);
    box-shadow: 0 5px 5px rgb(194, 194, 194);
}

.film-side {
    width: 30%;
}

.film-main {
    width: 70%;
}