* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

p {
    margin-top: 5px;
}

hr {
    margin-bottom: 11px;
}

.bg {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 5px 5px rgb(194, 194, 194);
}

button {
    display: inline-block;
    background-color: rgb(254, 221, 131);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 14px;
    padding: 8px;
}

.bg button {
    margin-top: 5px;
}

.button {
    height: 35px;
}

.button-round {
    width: 35px;
}

.button-large {
    width: 150px;
}

.button-very-large {
    width: 200px;
}

.button-submit {
    align-self: flex-end;
}

form {
    width: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

label {
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-end;
}

.form-group button {
    margin-left: 5px;
    margin-top: 0px;
}

input[type=text],
input[type=date],
select {
    width: 150px;
    padding: 5px 5px 6px 5px;
    margin: 4px 0px 5px 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.select-right {
    width: 110px;
    align-self: flex-end;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
}

#banner {
    width: 100%;
    height: 125px;
    background-image: url("../img/banner.png");
}

nav {
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}

nav a:link,
a:visited {
    font-size: 16px;
}

/* Main container */

main {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top {
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    padding-top: 15px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-box {
    width: 100%;
    min-height: 100px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.main-box-titre {
    width: 100%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Film Box */

.film-box {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.affiche {
    margin-top: 30px;
    height: 150px;
}

.note {
    margin-top: 10px;
}

.film-main {
    width: 100%;
    margin: 10px;
}

.film-main p {
    font-size: 12px;
    margin-top: 10px;
}

.info {
    color: rgb(180, 180, 180);
}

/* Personne Box */

.personne-box {
    width: 100%;
    height: 125px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.personne-main {
    font-size: 14px;
    margin: 5px;
}

.avatar {
    max-width: 115px;
    max-height: 115px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Genre et Role Box */

.genre-role-box {
    width: 100%;
    min-height: 60px;
    height: fit-content;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

/* Film-info Box */

.film-info-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiche-large {
    max-height: 300px;
    margin: 15px auto;
}

.acteur-casting {
    display: flex;
    flex-wrap: nowrap;
    line-height: 35px;
    vertical-align: middle;
}

.acteur-casting p {
    margin-right: 5px;
}

/* Personne Info Box */

.personne-info-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-large {
    max-width: 230px;
    max-height: 230px;
    margin: 15px auto;
}

@media screen and (min-width: 1200px) {

    form {
        width: 466px;
    }

    input[type=text],
    input[type=date],
    select {
        width: 300px;
    }

    .select-right {
        width: 260px;
    }

    /* Header */

    header {
        justify-content: center;
        max-width: 956px;
        margin-inline: auto;
    }

    nav {
        justify-content: center;
        gap: 20%;
    }

    /* Main container */

    main {
        max-width: 956px;
        gap: 16px;
    }

    .top {
        flex-basis: 100%;
        display: flex;
    }

    .button-center {
        margin: auto;
    }

    h1 {
        margin-top: 20px;
    }

    .main-box {
        margin: 0px;
        padding-bottom: 30px;
        flex-direction: row;
        align-items: normal;
    }

    .main-box-titre {
        margin: 0px;
        padding: 0px 0px 30px 0px;
    }

    .main-box-titre h1 {
        font-size: 40px;
    }

    /* Film Box */

    .film-box {
        width: 470px;
        height: 350px;
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
    }

    .film-side {
        width: 33%;
    }

    .affiche {
        margin-left: 30px;
    }

    .note {
        margin-top: 20px;
        margin-left: 26px;
    }

    .film-main {
        width: 67%;
    }

    .film-main p {
        margin-right: 30px;
    }

    /* Personne Box */

    .personne-box {
        width: 470px;
        margin: 0px;
    }

    .personne-box h1 {
        margin-top: 0px;
    }

    /* Genre et Role BOWX */

    .genre-role-box {
        width: 470px;
        height: 60px;
        margin: 0px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .genre-role-box h1 {
        margin-top: 0px;
    }

    .genre-role-actions {
        align-self: flex-end;
    }

    /* Film-info Box */

    .film-info-side {
        width: 33%;
        justify-content: center;
    }

    .film-info-main {
        width: 67%;
    }

    .film-info-main h1 {
        font-size: 40px;
    }

    /* Personne Info Box */

    .personne-info-side {
        width: 33%;
        justify-content: center;
    }

    .personne-info-main {
        width: 67%;
    }

    .personne-info-main h1 {
        font-size: 40px;
    }
}